/* Tabel deze css is alleen voor de tabel in admin.php*/
th{
    background-color: #1b1b1b;
    color: white;
}
td {
    padding: 0 2px;
}

tfoot td {
    text-align: center;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: lightgrey;
    width:100%;
}
